.column {
    display: grid;
    grid-template-areas: "sh" "sc";

}

.sub-header {
    grid-area: sh;
    background-color: #74f9e9;
}

.scrollbox {
    overflow-y: scroll;
    grid-area: sc;
}


.pl-loader {
    float: right;
}

.focusPlaylistImage{
    height: 200px;
    width: 200px;
}

.focusHeader{
    height: 250px;
}