html,
body {
    height: 100vh;
    margin: 0;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 310px;
}


.middle-section {
    overflow-y: hidden;
    
    display: flex;
    flex-direction: row;
    min-width: 100vh;
}

.footer {
    background-color: #b7cad1;
}

.header {
    background-color: #997171;
}


#col2{
    background-color: #c2c973d1;
}
#col3{
    background-color: #5fad8dd1;
}